div[role=main] {
  width: 70%;
}

#projects {
  width: 25%;
  background: orange;
  position: absolute;
  right: 0;
  top: 20.5%;
  height: 100%;
  z-index: 1;
}

#projects h3 {
  margin: 0;
}

#gmailr {
    color: #333;
    font-family: Arial;
    background: #DDE5FF;
    padding: 6px 7px 5px 9px;
    border-bottom: 1px solid #C9D7F1;
    margin-bottom: 1px;
    position: relative;
}
