div[role=main] {
  width: 70%;
}

li {
  list-style: none;
}

#projects {
  width: 25%;
  background: white;
  position: absolute;
  right: 0;
  top: 17%;
  height: 100%;
  z-index: 1;
}

#projects h3 {
  margin: 0;
}

.project {

}
